/* quick reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding: 0;
  margin: 0;
}
body {
  font-family: sans serif;
}
img {
  border: 0;
}
:link, :visited {
  text-decoration: none;
}

/* nav */
.nav {
  padding: 10px 20px;
  background-color: #369;
  color: #fff;
}
.nav h1 {
  display: inline;
}
.nav h1 a {
  color: #fff;
}
.nav .links {
  float: right;
}
.nav nav {
  margin: 10px 0;
}
.nav nav a {
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #246;
  border-radius: 2em;
}
.nav nav a.active {
  position: relative;
  background-color: #fff;
  color: #369;
}
.nav nav a.active:after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 0;
  right: 0;
  width: 50%;
  margin: 0 -10px;
  height: 10px;
  border-left: 8px solid #fff;
}
.nav nav a:hover {
  background-color: #123;
}
.nav nav a.active:hover {
  background-color: #fff;
  color: #000;
}

/* content */
.meat {
  padding: 20px;
}
.chart-container {
  position: relative;
  height: 100px;
  width: 100%;
}
